<div class="signin">
  <div class="signin-content">
    <div class="welcome-title">Bienvenu !</div>
      <form (ngSubmit)="signIn()">
        <div class="signin-popup">
          <div class="form-login">
            <div class="content">
              <div class="flex flex-column gap-2">
                <label htmlFor="user">Nom d'utilisateur</label>
                <input
                  pInputText
                  id="username"
                  aria-describedby="username-help"
                  [(ngModel)]="username"
                  name="username"
                />
                <!-- <small id="username-help">Enter your username to reset your password.</small> -->
              </div>
              <div class="flex flex-column gap-2">
                <label htmlFor="password">Mot de passe</label>
                <p-password [(ngModel)]="password" name="password" [toggleMask]="true"></p-password>
              </div>
              <div class="butt-list">
                <input type="submit" name="Signin" id="">
                <a href="/historics">
                  <div class="flex justify-content-center">
                    <p-button
                      label="Se connecter"
                      icon="pi pi-sign-in"
                      iconPos="right"
                      severity="help"
                    ></p-button>
                  </div>
                </a>
                <a href="/signup">
                  <div class="flex justify-content-center">
                    <p-button
                      class="signup-butt"
                      label="S'inscrire"
                      icon="pi pi-plus"
                      iconPos="right"
                      severity="help"
                    ></p-button>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="image-login"></div>
        </div>
    </form>
  </div>
</div>
