<div class="signin">
  <div class="signin-content">
      <form (ngSubmit)="signIn()">
        <div class="bg-white px-6 rounded-xl py-8 ">
          <div class="form-login ">
            <div class="content">
              <h1 class="font-nunito text-4xl text-center font-semibold">Connectez vous</h1> <br>
              <div class="flex">
                 <p-dropdown  [options]="profil" name="profil" [(ngModel)]="selectedProfil" optionLabel="name" placeholder="Utilisateur">
                </p-dropdown>
              </div>
              <div class="flex flex-column gap-2">
                <label htmlFor="user">Nom d'utilisateur</label>
                <input
                  pInputText
                  id="username"
                  aria-describedby="username-help"
                  [(ngModel)]="username"
                  name="username"
                />
                <!-- <small id="username-help">Enter your username to reset your password.</small> -->
              </div>
              <div class="flex flex-column gap-2">
                <label htmlFor="password">Mot de passe</label>
                <p-password [(ngModel)]="password" name="password" [toggleMask]="true"></p-password>
              </div>
              <div class="flex butt-list">
                <div class=" bg-prim w-full text-center px-16  py-3 rounded-xl">
                  <input type="submit" value="Se connecter"  class="text-white font-medium"/>
                </div>
                <a href="/signup">
                  <div class=" bg-sec w-full text-center px-16  py-3 rounded-xl">
                    <input type="submit" value="S'inscrire"  class="text-white font-medium"/>
                  </div>
                </a>
              </div>
              <div *ngIf="erreurLogin" class="alert alert-danger mt-2">
                {{ erreurLogin }}
              </div>
            </div>
          </div>
          <div class="image-login"></div>
        </div>
    </form>
  </div>

</div>
