$color-text-top-menu: #ffffff;
$color1: #1F2544;
$color2: #474F7A;
$color3: #81689D;
$color4: #FFD0EC;


.profit{
  width: 80vw;
}

.input-filtre-flex{
  .input-filtre{
    width: 30vw;
  }
  display: flex;
  gap: 1vw;
  padding: 1vw;
  align-items: center;
  justify-content: center;
}

.butt{
  display: flex;
  align-items: end;
  justify-content: end;
  width: 100%;
  .input-filtre-butt{
    padding: 1vw;
    width: 30vw;
  }
}

:host ::ng-deep .p-button{
  background-color: $color3;
}
