
<div class="card">
    <p-table *ngIf="list" [value]="list" [tableStyle]="{'min-width': '60rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="code" style="width:20%">Code <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="name" style="width:20%">Name <p-sortIcon field="name"></p-sortIcon></th>
               
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-element>
            <tr>
                <td>{{element.employee}}</td>
                <td>{{element.averageWorkTime}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>