<div class="manageemploye">
  <p-card header="GESTION EMPLOYE">
    <div class="grid">
      <div class="col-12 md:col-6 drag-column">
        <p-panel header="Employé actif">
          <!-- <p-scrollPanel [style]="{height: '150px' }"> -->

          <p-table
            #dt1
            [value]="available"
            [globalFilterFields]="['fullname', 'schedules']"
            [scrollHeight]="'flex'"
            [scrollable]="true"
            [style]="{ height: '420px' }"
          >
            <ng-template pTemplate="caption">
              <div class="flex">
                <span class="p-input-icon-left ml-auto">
                  <i class="pi pi-search"></i>
                  <input
                    pInputText
                    type="text"
                    (input)="applyFilterGlobal($event, 'contains')"
                    placeholder="Rechercher actif..."
                  />
                </span>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>Nom</th>
                <th>Heure de travail</th>
                <th>Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-person>
              <tr
                pDraggable="products"
                (onDragStart)="dragStart(person)"
                (onDrag)="drag()"
                (onDragEnd)="dragEnd()"
              >
                <td>{{ person.fullname }}</td>
                <td>
                  <div class="flex justify-content-center">
                    {{ person.schedules }}
                  </div>
                </td>
                <td>
                  <div class="flex justify-content-center">
                    <p-button
                      icon="pi pi-pencil"
                      (click)="showDialog(person)"
                    ></p-button>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <!-- </p-scrollPanel> -->
        </p-panel>
      </div>

      <div
        #dt1
        class="col-12 md:col-6"
        pDroppable="products"
        (onDrop)="drop()"
        responsiveLayout="scroll"
      >
        <p-panel header="Employé inactif">
          <p-table
            #dt
            [value]="selected"
            [globalFilterFields]="['fullname', 'schedules']"
            [scrollHeight]="'flex'"
            [scrollable]="true"
            [style]="{ height: '420px' }"
          >
            <ng-template pTemplate="caption">
              <div class="flex">
                <span class="p-input-icon-left ml-auto">
                  <i class="pi pi-search"></i>
                  <input
                    pInputText
                    type="text"
                    (input)="applyFilterGlobalInactif($event, 'contains')"
                    placeholder="Rechercher inactif..."
                  />
                </span>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>Nom</th>
                <th>Heure de travail</th>
                <th>Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-person>
              <tr>
                <td>{{ person.fullname }}</td>
                <td>
                  <div class="flex justify-content-center">
                    {{ person.schedules }}
                  </div>
                </td>
                <td>
                  <div class="flex justify-content-center gap-2">
                    <p-button
                      icon="pi pi-pencil"
                      (click)="showDialog(person)"
                    ></p-button>
                    <p-button
                      icon="pi pi-times"
                      (onClick)="inactifToActif(person)"
                    ></p-button>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-panel>
      </div>
    </div>
  </p-card>
</div>

<div class="card flex justify-content-center" >
  <p-dialog
    header="Modification Employé"
    [(visible)]="visible"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
  >
    <div class="flex flex-column gap-2">
      <label htmlFor="fullname">Nom complet</label>
      <input
        pInputText
        id="fullname"
        aria-describedby="fullname-help"
        [(ngModel)]="fullname"
        placeholder="nom complet de l'employé"
      />
    </div>
    <br/>
    <div class="flex flex-column gap-2">
      <label htmlFor="username">Nom d'utilisateur</label>
      <input
        pInputText
        id="username"
        aria-describedby="username-help"
        [(ngModel)]="username"
        placeholder="nom d'utilisateur de l'employé"
      />
    </div>
    <br/>
    <div class="flex flex-column gap-2">
      <label htmlFor="schedules">Durée de travail</label>
      <p-inputNumber
        [(ngModel)]="schedules"
        inputId="minmaxfraction"
        mode="decimal"
        [minFractionDigits]="2"
        [maxFractionDigits]="2"
        placeholder="Durée de travail en heure "

      >
      </p-inputNumber>
    </div>
    <br/>
    <div class="form">
      <div class="flex justify-content-end gap-2">
        <p-button label="Modifier" (onClick)="onModif()"></p-button>
      </div>
    </div>
  </p-dialog>
</div>

<!-- <p-toast [preventOpenDuplicates]="true"></p-toast> -->
